venv/
.venv/
__pycache__/
frontend/.next/
frontend/out/
*.tsbuildinfo
.env
.env.save
node_modules/
.env
.env.local
.env.production
.env.*.local
*.pyc
backend/uploads/
backend/pdfs/
*.xlsx
*.csv
backend/error.txt
backend/mentor.py
backend/package-lock.json
backend/models/assets/
